@model IEnumerable<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
</head>
<body>
    <a href="/student/create" class="btn btn-success">create</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>
                        <a  asp-action="details" asp-controller="student" asp-route-Id="@item.Id" class="btn btn-info">Detials</a>
                        <a asp-action="edit" asp-controller="student" asp-route-Id="@item.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="delete" asp-controller="student" asp-route-Id="@item.Id" onclick="return confirm('are you sure !')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</body>
</html>
